<div class="row position-relative h-100">
    <app-breadcrumbs></app-breadcrumbs>
    <app-loader></app-loader>
    <app-welcome *ngIf="daefServiceData && !stateCustomError" [service]="daefServiceData.service"
        [suppliers]="daefServiceData.service.data.serviceSupplierList"
        [serviceCategory]="daefServiceData.serviceCategory"
        [easId]="serviceId"
        [existUserProfile]="existUserProfile"
        [iseDeliveryActive]="iseDeliveryActive"
        ></app-welcome>
    <app-error *ngIf="serviceError && serviceError != 'ASSURANCE_LEVEL_MISSMATCH'" [error]="serviceError"></app-error>
    <assurance-level-error *ngIf="serviceError == 'ASSURANCE_LEVEL_MISSMATCH'" [error]="serviceError" [requiredAssuranceLevel]="requiredAssuranceLevel"></assurance-level-error>
</div>