@import "variables.scss";
@import "colors.scss";

:host {
    width: 100%;

    table {
        width: 100%;
    }

    th {
        font-weight: 600;
        font-size: 16px;
        color: $dark-gray;
    }

    .date-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }

    mat-icon {
        font-size: 25px;
    }
}

:host ::ng-deep .mat-sort-header-container { 
    display: flex;
    justify-content: flex-start;
    div {
        text-align: left;
    }
}

@media screen and (max-width: 840px) {
    :host {
        padding: 8px;
    }

    .mat-header-row {
        display: none !important;
    }

    tr {
        display: flex;
        flex-direction: column;
        height: fit-content !important;
        padding: 16px;
        background-color: $light-gray;
        margin-bottom: 16px;
        border-radius: 7px;
        td {
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;
            color: $dark-gray;
        }

        td:first-of-type {
            margin-top: 0;
        }

        td:last-of-type {
            margin-bottom: 0;
        }
    }

    td.mat-cell:first-of-type {
        padding: 0;
    }

    td:before{
        content: attr(data-label);
        font-style: italic;
        color: $sub-header-gray;
        font-size: 13px;
    }

    .table-container {
        height: 500px;
        overflow-y: auto;
    }

    mat-paginator {
        display: none;
    }

}

.profile-roles-status-active, .profile-roles-status-inactive, .profile-roles-status-draft {
    border-radius: 25px;
    padding: 5px 25px;
    display: inline;
}

.profile-roles-status-active {
    background-color: #B5F5C6;
}
.profile-roles-status-inactive {
    background-color: #FF6666;
}
.profile-roles-status-draft {
    background-color: #fff3cd;
}

.profile-roles-status-active:after
{
    content: '\2713';
    display: inline-block;
    color: #333333;
    padding: 0 6px 0 0;
}

tr:last-of-type td.mat-cell {
    border: none;
}
td.mat-cell {
    padding-top: 10px;
    padding-bottom: 10px;
}
