$main-dark-blue: #01497C;
$main-dark-blue-second: #013A63;
$dark-blue-navigation: #012a4a;
$main-dark-blue-hover: #014F86;
$main-light-blue: #89C2D9;
$main-light-blue-hover: #A9D6E5;
$hyperlink-blue: #0066CC;

$white: #FFFFFF;
$black: #000000;
$dark-gray: #333333;
$light-gray: #EEEEEE;
$light-gray-hover: #A0A0A0;
$sub-header-gray: #666666;
$medium-gray: #DDDDDD;
$htmlGray: #808080;
$formBorder: #dee2e6;

$notification-info: #D9D9D9;
$notification-new: #A9D6E5;
$notification-success: #B5F5C6;
$notification-attention: #FFD669;
$notification-error: #FF6666;

$light-green: #78C994;
$success-green: #22AC52;
$dark-green: #22AC52;
