$req-service-icon: url('^../../assets/images/req_service.svg');
$my-services-icon: url('^../../assets/images/my_services.svg');
$in-progress-icon: url('^../../assets/images/services_in_progress.svg');
$requested-icon: url('^../../assets/images/requested_services.svg');
$completed-icon: url('^../../assets/images/completed_services.svg');
$user-profile-icon: url('^../../assets/images/user_profile.svg');
$settings-icon: url('^../../assets/images/settings.svg');
$help-info-icon: url('^../../assets/images/info.svg');
$help-info-application-eau-icon: url('^../../assets/images/application_to_eau.svg');
$help-info-center-icon: url('^../../assets//images/help_center.svg');
$help-info-processing-eau-icon: url('^../../assets/images/process_of_EAU.svg');
$notifications-icon: url('^../../assets/images/envelope.svg');
$admin-services-in-progress-icon: url('^../../assets/images/admin_to_do.svg');
$admin-services-completed-icon: url('^../../assets/images/admin_services_completed.svg');
$admin-role-icon: url('^../../assets/images/admin_role.svg');
$admin-services-completed-icon: url('^../../../../assets/images/admin_services_completed.svg');
$administration-of-services: url('^../../../../assets/images/administration_of_services.svg');
$conf-forms: url('^../../../../assets/images/conf_forms.svg');
$conf-meta: url('^../../../../assets/images/conf_meta.svg');
$conf-proc: url('^../../../../assets/images/conf_proc.svg');
$dev-publish: url('^../../../../assets/images/dev_publish.svg');
$icon-big-translation: url('^../../../../assets/images/icon_big_translation.svg');
$small: 450px;
$desktop-header-height: 150px;
$file-sign: url('^../../../../assets/images/file_sign.svg');
$payment-card: url('^../../../../assets/images/icon_payment_card.svg');
$payment-code: url('^../../../../assets/images/icon_payment_code.svg');
$payment-ePay: url('^../../../../assets/images/icon_payment_ePay.svg');
$report-configure: url('^../../../../assets/images/report_configure.svg');
$report-main-menu: url('^../../../../assets/images/report_main_menu.svg');
$report-list: url('^../../../../assets/images/report_list.svg');

$phone-max-width: 480px;
$tablet-min-width: 481px;
$tablet-max-width: 1280px;
$desktop-min-width: 1281px;

$container-max-width: 1300px;