$req-service-icon: url('^../../assets/images/req_service.svg');
$my-services-icon: url('^../../assets/images/my_services.svg');
$in-progress-icon: url('^../../assets/images/services_in_progress.svg');
$requested-icon: url('^../../assets/images/requested_services.svg');
$completed-icon: url('^../../assets/images/completed_services.svg');
$user-profile-icon: url('^../../assets/images/user_profile.svg');
$settings-icon: url('^../../assets/images/settings.svg');
$help-info-icon: url('^../../assets/images/info.svg');
$help-info-application-eau-icon: url('^../../assets/images/application_to_eau.svg');
$help-info-center-icon: url('^../../assets//images/help_center.svg');
$help-info-processing-eau-icon: url('^../../assets/images/process_of_EAU.svg');
$notifications-icon: url('^../../assets/images/envelope.svg');
$admin-services-in-progress-icon: url('^../../assets/images/admin_to_do.svg');
$admin-services-completed-icon: url('^../../assets/images/admin_services_completed.svg');
$admin-role-icon: url('^../../assets/images/admin_role.svg');
$admin-services-completed-icon: url('^../../../../assets/images/admin_services_completed.svg');
$administration-of-services: url('^../../../../assets/images/administration_of_services.svg');
$small: 450px;
$desktop-header-height: 150px;

$phone-max-width: 480px;
$tablet-min-width: 481px;
$tablet-max-width: 1280px;
$desktop-min-width: 1281px;

$container-max-width: 1300px;