@import "variables.scss";
@import "colors.scss";

:host {
    height: calc(100% - #{$desktop-header-height});

    .report-container {
        min-height: 46em;
        background-color: $white;

        @media screen and (max-width: 840px) {
            div:nth-child(0) {
                flex-direction: column;
            }

            .back-button {
                padding: 8px 0 0 8px;
                display: flex;
                align-self: flex-start;
            }
        }
    }

    .responsive-iframe {
        max-width: 100%;
        padding-top: 56.25%;
        position: relative;
        width: 100%;
    }

    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
