<div class="background-wrapper w-100"></div>
<div class="row h-100">
    <app-loader></app-loader>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="translate-container col-12 p-0">
        <div class="row align-items-center">
            <div class="back-button" (click)="back()">
                <mat-icon>arrow_back_ios</mat-icon>
                <span>{{ 'BACK' | translate }}</span>
            </div>
            <h2 class="heading-wrapper w-100">
                {{ 'TRANSLATION.SELECT_LANGUAGE' | translate }}
            </h2>
        </div>

        <div class="translate-inner-container">
            <div class="language-select">
                <div mat-menu-item 
                    *ngFor="let language of languages"
                    (click)="selectLanguage(language)">
                    <span class="row">
                        <div class="col-4">
                            <img class="flag" [src]="language.iconUrl">
                        </div>
                        <div class="col-4">
                            {{ language.languageLong }}
                        </div>
                        <div class="col-4">
                            {{ 'TRANSLATION.'+language.status | translate }}
                        </div>
                    </span>
                    
                </div>
                
            </div>
        </div>

    </div>
</div>