@import "variables.scss";
@import "colors.scss";

:host {

  .language-select {
    position: relative; 
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  height: calc(100% - #{$desktop-header-height});

  .translate-container {
    min-height: 46em;
    background-color: $white;

    @media screen and (max-width: 840px) {
      div:nth-child(0) {
        flex-direction: column;
      }

      .back-button {
        padding: 8px 0 0 8px;
        display: flex;
        align-self: flex-start;
      }
    }
  }

  @media screen and (min-width: 840px) {
    .translate-inner-container {
      width: 85%;
      margin: 0 auto 5em auto;
    }
  }

}

.flag {
    width: 30px;
}

button.mat-menu-item {
    width: 200px;
    margin: 0 auto;
}