<div class="row w-100">
    <div class="offset-md-1 col-11">
        <h2>{{ 'ENTRANCE' | translate }}</h2>
    </div>
    <div class="offset-md-1 col-11">
        <p>
            {{ 'LOGIN_PARAGRAPH_1' | translate }} <br>
            {{ 'LOGIN_PARAGRAPH_2' | translate }}  <br>
            {{ 'LOGIN_PARAGRAPH_3' | translate }}  <br>
            {{ 'LOGIN_PARAGRAPH_4' | translate }} <br>
            {{ 'LOGIN_PARAGRAPH_5' | translate }} <br>
            {{ 'LOGIN_PARAGRAPH_6' | translate }} 
        </p>
    </div>
    <div class="offset-md-1 col-md-5 col-sm-12">
        <button mat-button id="login-button" (click)="login()" class="btn-primary-large">
            {{ 'ENTRANCE' | translate }}
            <mat-icon inline>
                arrow_forward
            </mat-icon>
        </button>
    </div>
</div>