<div class="background-wrapper w-100"></div>
<div class="row h-100">
    <app-loader></app-loader>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="help-application-eau-container col-12 p-0">
        <div class="row align-items-center">
            <div class="back-button" (click)="back()">
                <mat-icon>arrow_back_ios</mat-icon>
                <span>{{ 'BACK' | translate }}</span>
            </div>
            <h2 id="help-application-eau-header" class="heading-wrapper w-100">
                {{ 'HELP_INFO_LIST.APPLICATION_TO_EAU' | translate }}
            </h2>
        </div>
        <div class="row">
            <formio id="help-application-eau-form" [form]="formSrc" (ready)="handleFormReady($event)"  class="col-12 p-0"></formio>
        </div>
      
    </div>
</div>